# Ignore venv folder
venv/

# Ignore Python related files
*.pyc
*.pyo
__pycache__/

# Ignore PDF and image files
*.pdf
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.html

# igndore input and output directories
input/
output/
temp/

# Ignore .DS_Store files
.DS_Store

